'.text.html.php':
  'CMB2 Textarea':
    'prefix': 'cmb_textarea'
    'body': '''
$cmb->add_field( array(
    'name'    => __( '${1:Field Name}', '${2:text_domain}' ),
    'desc'    => __( '${3:Field Description (Optional)}', '${2:text_domain}' ),
    'default' => '${4:standard value (optional)}',
    'id'      => $prefix . '${5:field_id}',
    'type'    => 'textarea'
) );

${0}
'''
